body {
    background: #FF9800;
    font-family: sans-serif;
}

h2 {
    color: #FFFFFF;
    margin-top: 120px;
}

h3 {
    color: #FFFFFF;
    margin-top: 120px;
    display: none;
    margin-top: 270px;
}

#signup {
    padding: 1em;
    margin: 2em auto;
    width: 30em;
    background: aliceblue;
    border-radius: 5px;
    display: block;
}

#regisSuccess {
    padding: 1em;
    margin: 2em auto;
    width: 30em;
    background: aliceblue;
    border-radius: 5px;
    display: none;
}

label {
    font-size: 14pt;
    color: #555;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    padding: 8px;
    width: 95%;
    background: #FFECB3;
    border: none;
    font-size: 12pt;
    margin: 6px 0px;
}

input[type='submit'] {
    background: #FF9800;
    color: #FFFFFF;
    border: none;
    width: 98.5%;
    font-size: 1em;
    padding: 10px;
    margin: 20px auto 0px auto;
    cursor: pointer;
}

#regisSuccessChild{
    text-align: center;
}

#load {
    width: 70%;
    margin: 150px auto 0 auto;
    border: 1px red solid;
    display: none;
}

#myProgress {
    width: 70%;
    background-color: aliceblue;
    border-radius: 10px;
    display: none;
    border: none;
    margin: 10px auto 0 auto;
}

#myBar {
    width: 1%;
    height: 40px;
    background-color: #29B6F6;
    border-radius: 10px;
}



